# This is the central configuration file for the workshop.
#
# PLEASE EDIT THE VALUES BELOW with the ones you created
# during the pre-flight check (README.md).
#
# 1. GCP_PROJECT_ID: Found in Step 1 of the README
# 2. GCS_BUCKET_NAME: The unique name you created in Step 3
# 3. SERVICE_ACCOUNT_EMAIL: Found in Step 4 (IAM & Admin -> Service Accounts)

GCP_PROJECT_ID = "workshop-id"
REGION_NAME = "europe-west1"
GCS_BUCKET_NAME = "bucket-name-firstname-lastname"
SERVICE_ACCOUNT_EMAIL = ""
PROMPT_FILE_PATH="external_prompt.txt"
FILE_1_NAME = "file1.json"
FILE_2_NAME = "file2.json"
GEMINI_MODEL = "gemini-2.5-flash"

